@import "../../../styles/variables";
@import "../../../styles/mixins";

@media screen and (min-width: 1050px) {
  .header.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: $backgroundColor;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 15;
    opacity: 0.9;
    .header__logo {
      @include headerLogo-styles;
    }
    .header__menu {
      height: 100%;
      .menu {
        display: flex;
        li {
          display: flex;
          list-style-type: none;
          a:hover {
            color: $navigationHoverColor;
            cursor: pointer;
            &:after{
              transform: scaleX(1);
              transition: transform .5s;
            }
          }
          a:after {
            content: '';
            display: block;
            height: 2px;
            background: $navigationHoverColor;
            transform: scaleX(0);
            transition: transform .3s;
          }
          a:before {
            content : "";
            position: absolute;
            left: 100%;
            top : 20%;
            height: 3rem;
            width: 1px;
            border-right: 2px dotted;
          }
          .menu__item {
            width: 10rem;
            height: 5rem;
            color: $primaryFontColor;
            text-decoration: none;
            line-height: 5rem;
            text-align: center;
            transition: .4s;
            position: relative;
          }
        }
        li:nth-child(1) a {
          padding-right: 14px;
        }
        li:nth-child(4) a:before {
          height: 0;
          width: 0;
        }
      }
    }
    .header__btn {
      @include btn-styles;
      min-width: 160px;
      font-size: 1.3rem;
    }
  }
  .header__user {
    text-align: center;
    margin-right: 0.4rem;
    font-size: 1.2rem;
  }
  .header.mobile {
    display: none;
  }
}

@media screen and (max-width: 1049px){
  .header.mobile {

  }
  .header.desktop {
    display: none;
  }
}





