@import "../../../styles/variables";
@import "../../../styles/mixins";

@media screen and (min-width: 1050px) {
  .header.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: $backgroundColor;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 15;
    opacity: 0.9;
    .header__logo {
      @include headerLogo-styles;
    }
    .header__menu {
      height: 100%;
      .menu {
        display: flex;
        li {
          display: flex;
          list-style-type: none;
          a:hover {
            color: $navigationHoverColor;
            cursor: pointer;
            &:after{
              transform: scaleX(1);
              transition: transform .5s;
            }
          }
          a:after {
            content: '';
            display: block;
            height: 2px;
            background: $navigationHoverColor;
            transform: scaleX(0);
            transition: transform .3s;
          }
          a:before {
            content : "";
            position: absolute;
            left: 100%;
            top : 20%;
            height: 3rem;
            width: 1px;
            border-right: 2px dotted;
          }
          .menu__item {
            width: 10rem;
            height: 5rem;
            color: $primaryFontColor;
            text-decoration: none;
            line-height: 5rem;
            text-align: center;
            transition: .4s;
            position: relative;
          }
        }
        li:nth-child(1) a {
          padding-right: 14px;
        }
        li:nth-child(4) a:before {
          height: 0;
          width: 0;
        }
      }
    }
    .header__btn {
      @include btn-styles;
      min-width: 150px;
      font-size: 1.3rem;
    }
  }
  .header.mobile {
    display: none;
  }
}

@media screen and (max-width: 1050px){
  .header.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 19;
    opacity: 0.9;
    @media screen and (max-width: 600px) {
      height: 65px;
    }
    .header__logo {
      @include headerLogo-styles;
      @media screen and (max-width: 600px) {
        font-size: 1.2rem;
        line-height: 4rem;
      }
      @media screen and (max-width: 500px) {
        min-width: 7.5rem;
        font-size: 0.9rem;
      }
    }
    .navIcon {
      font-size: 4rem;
      color: $primaryFontColor;
      padding: 10px;
      cursor: pointer;
      transition: .3s ease-in;
      border: 1px solid transparent;
      border-radius: 100%;
      @media screen and (max-width: 600px) {
        font-size: 3rem;
      }
      &:hover {
        color: $secondaryFontColor;
        opacity: 0.9;
      }
    }
    .header__btn {
      @include btn-styles;
      min-width: 150px;
      font-size: 1.3rem;
      margin-left: 66px;
      @media screen and (max-width: 600px) {
        font-size: 1rem;
        min-width: 122px;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.9rem;
        margin-left: 0;
        padding: 0.3rem 0.3rem;
        min-width: 100px;
      }
    }
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      transition: .3s linear;
      &.active {
        left:0;
        top: 80px;
        @media screen and (max-width: 600px) {
          top: 65px;
        }
      }
      .menu {
        font-size: 1.3rem;
        background-color: #000;
        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
        li {
          height: 70px;
          @media screen and (max-width: 600px) {
            height: 50px;
          }
          .menu__item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            cursor: pointer;
            border-bottom: 1px dotted $secondaryFontColor;
            @media screen and (max-width: 600px) {
              height: 50px;
            }
            &:hover {
              color: $primaryFontColor;
            }
          }
        }
      }
    }
  }
  .header.desktop {
    display: none;
  }
}






