@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.loginForm,
.registerForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1rem;
    z-index: 20;
    min-width: 22rem;
    width: 25%;
    background-color: #1a1a1a;
    @media screen and (max-width: 500px) {
        min-width: 17rem;
    }
    .login,
    .email,
    .password {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        @media screen and (max-width: 500px) {
            margin-bottom: 1.4rem;
        }
    }
    label {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        @media screen and (max-width: 500px) {
            margin-bottom: 0.5rem;
            font-size: 1rem;
        }
    }
    input {
        height: 2.5rem;
        font-size: 1.2rem;
        text-indent: 10px;
        @media screen and (max-width: 500px) {
            height: 2rem;
            font-size: 1rem;
        }
    }
    .logButtons {
      display: flex;
      justify-content: space-evenly;
      .loginBtn,
      .registerBtn {
        @include btn-styles;
        font-size: 1.1rem;
        min-width: 120px;
          @media screen and (max-width: 500px) {
              font-size: 0.9rem;
              min-width: 90px;
              padding: 0.5rem 0.4rem;
          }
        }
    }
    .registerText {
        text-align: center;
        margin-top: 0.5rem;
        @media screen and (max-width: 500px) {
            font-size: 0.9rem;
        }
    }
    .fa-times-circle {
        position: absolute;
        top: 4%;
        right: 7%;
        font-size: 1.8rem;
        color: $primaryFontColor;
        transition: 0.2s ease-in;
        cursor: pointer;
        &:hover {
          color: $secondaryFontColor;
        }
    }
}

.overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 19;
}