$backgroundColor: #000;
$primaryFontColor: #9C7A0E;
$secondaryFontColor: #FFF;
$sectionGradientColor: linear-gradient(147deg, #000000 0%, #434343 74%);
$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Comic Neue', cursive;
$thirdFont: 'Shadows Into Light', cursive;
$sliderHeights: 70vh;
$sliderWidths: 100%;
$navigationHoverColor: #FBC02D;
$buttonHoverColor: #454443;
$coolColor: #ff4a56;

