@import "../../../styles/variables";

.slider-container {
  height: $sliderHeights;
  width: $sliderWidths;
  position: relative;
  overflow: hidden;
  margin-top: 2px;
  box-shadow: 0 49px 29px 13px rgba(0, 0, 0, 1);
  z-index: 3;
  .active-slide {
    display: inline-block;
  }
  .inactive-slide {
    display: none;
  }
  .slides {
    height: $sliderHeights;
    width: $sliderWidths;
    position: relative;
  }
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(50%);
  }
  .slides:nth-child(3) .slide-image {
    filter: brightness(100%);
  }
  .slide-title,
  .slide-text {
    width: 85%;
    height: 100%;
    color: white;
    font-size: 3.125rem;
    position: absolute;
    text-align: center;
    top: 40%;
    z-index: 10;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: 800px) {
      font-size: 2.3rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.7rem;
    }
  }
  .slide-text {
    top: 65%;
    font-size: 2rem;
  }
  .prev-slide,
  .next-slide {
    cursor: pointer;
    z-index: 18;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    @media screen and (max-width: 600px) {
      font-size: 1.7rem;
    }
    &:hover {
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      transition: all 0.5s ease-in;
    }
  }
  .next-slide {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 10;
    .dot {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      margin: 0 3px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      display: inline-block;
    }
    .active-dot,
    .dot:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}









