@import "../../../styles/variables";

.trainingPlan {
  background-image: url("../../../assets/trainingPlanBg.jpg");
  height: 43.75rem;
  width: auto;
  position: relative;
  box-shadow: inset 100px 61px 83px 36px rgba(0, 0, 0, 1), 0px -27px 47px 36px rgba(0, 0, 0, 1), inset -41px -23px 44px 49px rgba(0, 0, 0, 1);
  .trainingPlan-Box {
    position: absolute;
    width: 20rem;
    top: 10%;
    left: 10%;
    font-family: $thirdFont;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    .plan__headline {
      color: $primaryFontColor;
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 0.4rem;
      letter-spacing: 0.1rem;
    }
    .plan__text {
      font-size: 1.1rem;
      color: $secondaryFontColor;
      letter-spacing: 0.1rem;
      text-align: center;
      &:first-of-type {
        margin-bottom: 3rem;
      }
    }
  }
}