@import '../../../styles/variables';

.footer {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 500px) {
        height: 4rem;
    }
    .footer__copy {
        font-size: 1.3rem;
        font-family: $secondaryFont;
        min-width: 7rem;
        @media screen and (max-width: 500px) {
            font-size: 1rem;
            min-width: auto;
        }
    }
    .footer__icons {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        min-width: 8rem;
        @media screen and (max-width: 500px) {
            font-size: 1rem;
            min-width: 4rem;
        }
        a {
            color: $secondaryFontColor;
            cursor: pointer;
        }
    }
    .footer__logo {
        min-width: 12rem;
        height: 100%;
        font-size: 1rem;
        text-decoration: none;
        line-height: 6rem;
        font-family: $secondaryFont;
        color: $secondaryFontColor;
        font-weight: bold;
        text-shadow: 0 14px 4px rgba(78, 70, 30, 1), 0 -10px 8px rgba(78, 70, 30, 1);
        text-align: center;
        @media screen and (max-width: 500px) {
            font-size: 0.85rem;
            line-height: 4rem;
            min-width: 9rem;
        }
        span {
          color: $primaryFontColor;
        }
    }
}
