@import "../../../styles/variables";

.contact {
  box-shadow: inset -0px -0px 29px 54px rgba(0, 0, 0, 1);
  position: relative;
  font-size: 1.5rem;
  @media screen and (max-width: 850px) {
    height: 35rem;
  }
  .upText {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 395px;
    @media screen and (max-width: 850px) {
      font-size: 1.4rem;
      min-width: 244px;
      top: 26%;
    }
    @media screen and (max-width: 500px) {
      top: 15%;
    }
    span {
      color: $primaryFontColor;
    }
  }
  .verticalLine {
    position: absolute;
    top: 26%;
    left: 50%;
    height: 50%;
    border-left: 4px solid $primaryFontColor;
    @media screen and (max-width: 850px) {
      height: 35%;
      top: 34%;
    }
  }
  .downText {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translatex(-50%);
    min-width: 610px;
    @media screen and (max-width: 850px) {
      font-size: 1.4rem;
      min-width: 374px;
      top: 73%;
    }
    @media screen and (max-width: 600px) {
      top: 71%;
    }
    @media screen and (max-width: 500px) {
      min-width: 300px;
      text-align: center;
      top: 80%;
    }
    span {
      color: $primaryFontColor;
    }
  }
  .videoTag {
    width: 100%;
    height: auto;
    opacity: 0.5;
    filter: blur(5px);
    border-radius: 2rem;
    @media screen and (max-width: 850px) {
      height: 100%;
    }
  }
}
