@import "../../../styles/variables";
@import "../../../styles/mixins";

.contactUser {
  .messages-box {
    margin-top: 4rem;
    .messages {
      display: flex;
      flex-direction: column;
      background-color: #5d5858;
      margin: 0 auto;
      width: 70%;
      list-style-type: none;
      box-shadow: 0 0 75px 67px rgba(93, 88, 88, 1);
      font-size: 1.3rem;
      @media screen and (max-width: 950px) {
        width: 80%;
        font-size: 1.1rem;
      }
      @media screen and (max-width: 500px) {
        width: 90%;
        font-size: 0.9rem;
      }
      .trainer__message {
        background-color: #252424;
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: -15%;
          left: 3%;
          transform: rotate(15deg);
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #252424;
        }
      }
      .user__message {
        background-color: $primaryFontColor;
        margin-bottom: 1.5rem;
        align-self: flex-end;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: -27%;
          right: 3%;
          transform: rotate(-15deg);
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $primaryFontColor;
        }
        .userIcon {
          font-size: 2rem;
          margin: 0 1rem;
          float: right;
          @media screen and (max-width: 500px) {
            font-size: 1.2rem;
          }
        }
      }
    }
    .userNinjaIcon {
      font-size: 2rem;
      margin: 0 1rem;
      float: left;
      @media screen and (max-width: 500px) {
        font-size: 1.2rem;
      }
    }
    .newMessage {
      display: flex;
      margin-left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 500px) {
        width: 70%;
      }
      input {
        @include input-styles;
        font-size: 1.2rem;
        width: 100%;
        @media screen and (max-width: 500px) {
          font-size: 1rem;
        }
      }
      .sendPlane {
        font-size: 2rem;
        margin-top: 30px;
        cursor: pointer;
        &:hover {
          color: #868282;
        }
      }
    }
  }
}
